
img{
    width: 100%;
}

#content1 p{
    position: absolute;
    top: 150px;
    right: 50px;
    font-size: 50px;
    color: white;
    font-weight: 800;
}
#content1 ul{
    position: absolute;
    top: 270px;
    right: 90px;
}
#content1 li{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 5px;
}
button{
    position: absolute;
    top: 420px;
    right: 210px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
